xml/Error.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="Error">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Number" type="xsd:string"/>
                <xsd:element name="Source" type="xsd:string"/>
                <xsd:element name="Description" type="xsd:string"/>
                <xsd:element name="HelpFile" type="xsd:string"/>
                <xsd:element name="HelpContext" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
